body {
  display: flex;
  flex-direction: column;
}

body header {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}

.witlogo {
  max-width: 13rem;
}

body header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

body header nav a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-right: 0.5rem;
  flex: 0 0 auto;
}

.aramaKutusu {
  max-width: 7rem;
  max-height: 1rem;
  font-size: 1rem;
}

.search img {
  max-width: 2rem;
  border-radius: 0.5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-info {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  align-items: center;
}

.film-aciklamasi {
  max-width: 50vw;
}

.maturity-rating {
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0 0.2rem;
}

/* Belli ki body main kısmını ilerde flex 1 yapmak gerekcek, kenarda kalsın. */
body main,
body .oneriler-bolumu,
footer {
  padding: 0 2rem;
}

.film-ozellikleri {
  font-weight: bold;
  color: rgb(239, 32, 32);
}

.movie-details {
  list-style: none;
  padding: 0;
  margin: 0 0 2em 0;
}

.tusun-kendisi {
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  background-color: rgb(255, 61, 61);
  color: white;
  border: 0px solid black;
  border-radius: 0.7rem;
}

.suggestion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tamamini-goster {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.suggestion-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  gap: 4rem;
}

.suggestion-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  flex: 0 0 auto;
}

.oneriler-bolumu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.yas-sure {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.onerilen-baslik {
  margin: 0;
}

.mini-tusun-kendisi {
  font-size: 0.8rem;
  padding: 0.4rem 0.4rem;
  background-color: rgb(255, 61, 61);
  color: white;
  border: 0px solid black;
  border-radius: 0.7rem;
  max-width: 6rem;
}

.kucuk-yas-limiti {
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0 0.2rem;
}

.telifli {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.telifli nav {
  display: flex;
  gap: 1rem;
}

.telifli nav a {
  text-decoration: none;
  color: black;
}

.smicon {
  max-width: 2.5rem;
}

.sosyal-medya {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-google {
  max-width: 9rem;
}

.uygulamalar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.store-resim {
  display: flex;
  flex-direction: column;
}

.copright {
  max-width: 45vw;
}

.mobil-baslik {
  display: none;
}

@media (max-width: 420px) {
  html {
    font-size: 10px;
  }
  body header nav {
    display: none;
  }
  .mobil-baslik {
    display: flex;
    justify-content: center;
  }
  .mobil-baslik nav a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
  }
  .store-resim {
    flex-direction: row;
  }
  .uygulamalar {
    order: 1;
  }
  .sosyal-medya {
    order: 2;
  }
  .telifli {
    order: 3;
    margin-top: 2rem;
  }
  footer {
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    margin-top: 1rem;
  }
  .copright {
    max-width: unset;
  }
}
